@using Microsoft.AspNetCore.Identity
@using FinancePortal.Services
@using FinancePortal.Data

@inject IImageService ImageService
@inject UserManager<FPUser> UserManager
@inject ApplicationDbContext Context  


<!DOCTYPE html>
<html lang="en">
<head>
    <title>:: Money Tracker :: Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!------------------------>
    <!-- This is my Favicon -->
    <!------------------------>
    <link rel="icon" href="~/images/MT-logo-sm.png" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/chartist.min.css" rel="stylesheet" />
    <link href="~/css/chartist-plugin-tooltip.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />

    <!--------------------->
    <!-- Tiny MCE Script -->
    <!--------------------->
    <script src="//cdn.tiny.cloud/1/l8uevwuzno0ksw0hxsz567wbuc969qkmvc4abwbzq6rr348m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='//kit.fontawesome.com/a076d05399.js'></script>
    <!-- MAIN CSS -->
    <link href="~/css/color_skins.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

</head>
<body class="theme-green">

    <!----------------->
    <!-- Page Loader -->
    <!----------------->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/images/MT-logo-pl.png" alt="Money Tracker"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-------------------------->
    <!-- Overlay For Sidebars -->
    <!-------------------------->
    <div id="wrapper">
        <!---------------->
        <!-- Top Navbar -->
        <!---------------->
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
                <div class="navbar-brand">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/MT-logo-sm.png" alt="Money Tracker Logo" style="width: 48px; height:48px" class="img-responsive logo"></a>
                </div>

                <div class="navbar-right">
                    <form id="navbar-search" class="navbar-form search-form">
                        <input value="" class="form-control" placeholder="Search here..." type="text">
                        <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                    </form>
                    <!--------------------------------------------------------------->
                    <!-- Top Navbar Right-Corner (Calendar, Chat, Email) Navigation-->
                    <!--------------------------------------------------------------->
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Households" asp-action="Dashboard" class="icon-menu d-none d-sm-block"><i class="icon-home"></i></a></li>
                            <li><a asp-controller="Households" asp-action="Index" class="icon-menu d-none d-sm-block"><i class="icon-anchor"></i></a></li>
                            <li><a asp-controller="Home" asp-action="Landing" class="icon-menu d-none d-sm-block"><i class="icon-plane"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        @if (User.IsInRole("HEAD") || User.IsInRole("MEMBER"))
        {
            var userId = UserManager.GetUserId(User);
            var user = Context.Users.Find(userId);
            var householdId = user.HouseholdId;
            <!---------------------->
            <!-- Left Side Navbar -->
            <!---------------------->
            <div id="left-sidebar" class="sidebar">
                <div class="sidebar-scroll">
                    <div class="user-account">
                        <img src="~/images/avatar9.jpg" class="rounded-circle user-photo" alt="User Profile Picture">
                        <hr>
                    </div>
                    <!------------------->
                    <!-- Overview Tab --->
                    <!------------------->
                    <div class="tab-content p-l-0 p-r-0">
                        <div class="tab-pane animated fadeIn active" id="hr_menu">
                            <nav class="sidebar-nav">
                                <ul class="main-menu metismenu">
                                    <li class="nav-link active"><span>Navigation</span></li>
                                    <li><a asp-controller="Households" asp-action="Dashboard"><i class="icon-user"></i>Personal Acct.</a></li>
                                    <li><a asp-controller="HouseholdBankAccounts" asp-action="Index" asp-route-id="@householdId"><i class="icon-globe"></i>Bank Accounts</a></li>
                                    <li><a asp-controller="HouseholdCategories" asp-action="Index" asp-route-id="@householdId"><i class="icon-grid"></i>Categories</a></li>
                                    <li><a asp-controller="CategoryItems" asp-action="Create" asp-route-id="@householdId"><i class="icon-list"></i>Items</a></li>
                                    <li><a asp-controller="HouseholdNotifications" asp-action="Index" asp-route-id="@householdId"><i class="icon-pencil"></i>Notifications</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!------------------------------>
        <!-- Render Body R-tag--------->
        <!------------------------------>
        <div class="container-fluid" style="margin-top: 100px; padding-right: 90px; padding-left: 300px">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    <!------------>
    <!-- Footer -->
    <!------------>
    <div>
        <footer class="border-top footer w-100 fixed-bottom bg-white text-center text-success">
            <div>
                &copy; 2020 ~ Money Tracker ~ Created by: O J OLMO
            </div>
        </footer>
    </div>
    <!---------------->
    <!-- Javascript -->
    <!---------------->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    @*<script src="~/js/libscripts.bundle.js"></script>*@
    <script src="~/js/vendorscripts.bundle.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/knob.bundle.js"></script>
    <script src="~/js/chartist.bundle.js"></script>
    <script src="~/js/mainscripts.bundle.js"></script>


    <script>
        $(document).ready(function () {
            $('.table').DataTable();
            tinymce.init({ selector: '#Body' });
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>
