@using Microsoft.AspNetCore.Identity
@using FinancePortal.Services
@using FinancePortal.Data
@using FinancePortal.Enums
@using System.Linq

@inject IImageService ImageService
@inject UserManager<FPUser> UserManager
@inject ApplicationDbContext Context

@model FinancePortal.Models.View_Models.HouseholdViewModel

@{
    ViewData["Title"] = "Welcome to Your Dashboard";

}

@{
    var currentUser = await UserManager.GetUserAsync(User);

}

<div class="d-flex justify-content-between mb-2">
    <h1 class="text-success">@ViewData["Title"]</h1>

</div>

@if (TempData["Message"] != null)
{
    <h1 class="text-danger">@TempData["Message"]</h1>
}


<!----------------->
<!-- Side Navbar -->
<!----------------->

@if (User.IsInRole("HEAD") || User.IsInRole("MEMBER"))
{
    var userId = UserManager.GetUserId(User);
    var user = Context.Users.Find(userId);
    var householdId = user.HouseholdId;

    <!---------------------->
    <!-- Left Side Navbar -->
    <!---------------------->
    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="~/images/avatar9.jpg" class="rounded-circle user-photo" alt="User Profile Picture">
                <hr>

            </div>
            <!------------------->
            <!-- Overview Tab --->
            <!------------------->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane animated fadeIn active" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li class="nav-link active"><span>Navigation</span></li>
                            <li><a asp-controller="Households" asp-action="Dashboard"><i class="icon-home"></i>Dashboard</a></li>
                            <li><a asp-controller="HouseholdBankAccounts" asp-action="Create" asp-route-id="@householdId"><i class="icon-wallet"></i>Bank Accounts</a></li>  
                            <li><a asp-controller="HouseholdCategories" asp-action="Create" asp-route-id="@householdId"><i class="icon-grid"></i>Categories</a></li>  
                            <li><a asp-controller="CategoryItems" asp-action="Create" asp-route-id="@householdId"><i class="icon-list"></i>Items</a></li>

                            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="@Url.Action("Landing", "Home")"><i class="icon-power"></i>Logout</a></li>

                            <li><a asp-controller="Households" asp-action="Leave" asp-route-id="@householdId"><i class="icon-plane"></i>Leave Account</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}


@if (currentUser != null)
{
    <!------------------------>
    <!-- Bank Acct. Modal ---->
    <!------------------------>
    <div class="modal fade" id="BankAccounts">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-success">Create Bank Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-content">
                        <form asp-controller="HouseholdBankAccounts" asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" value="@currentUser.HouseholdId" name="HouseholdId" />
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input name="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label name="AccountType" class="control-label">Account Type</label>
                                <select name="AccountType" class="form-control" asp-items="Html.GetEnumSelectList<AccountType>()"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Starting Balance</label>
                                <input name="StartingBalance" class="form-control" type="number" step="any" min="0.01" max="99999999.99" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-outline-success" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!---------------------------------->
    <!-- Household Categories Modal ---->
    <!---------------------------------->
    <div class="modal fade" id="HouseholdCategories">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-success">Create Categories</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-content">
                        <form asp-controller="HouseholdCategories" asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" value="@currentUser.HouseholdId" name="HouseholdId" />

                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input name="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <input name="Description" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-outline-success" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<!--------------------->
<!-- Jumbotron Image -->
<!--------------------->
<div class="container-fluid">
    <div class="container-fluid">
        <img src="~/images/Finance-1.jpg" style="width:100%; height:300px" />
    </div>
    <br />
    <hr />

    <div class="row">

        <!-------------------------->
        <!-- Accounts Current Bal -->
        <!-------------------------->
        <div class="col-6">
            <div class="card">
                <h6 class="card-header bg-light text-success">
                    Current Balance
                </h6>
                <div class="card-body">
                    <div height="400" id="CurrentBalanceChart">

                    </div>
                </div>
                <div class="footer bg-transparent">

                </div>
            </div>
        </div>
        <!------------------------>
        <!-- Transaction Charts -->
        <!------------------------>
        <div class="col-6">
            <div class="card">
                <h6 class="card-header bg-light text-success">
                    Recent Transactions
                </h6>
                <div class="card-body">
                    <div height="400" id="TransactionChart">

                    </div>
                </div>
                <div class="footer bg-transparent">

                </div>
            </div>
        </div>
    </div>

</div>

<!-------------------------->
<!-- Master Control Board -->
<!-------------------------->

<div class="card-columns">
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">House Members</h5>
            <a class="btn btn-outline-warning" data-toggle="modal" data-target="#Occupants">View</a>
            @if (User.IsInRole(nameof(HouseholdRole.HEAD)))
            {
                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#Invitations">Invite</a>
                <a class="btn btn-outline-success" data-toggle="modal" data-target="#ReviewInvitations">Invitation Log</a>
            }

        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">Bank Accounts</h5>
            <a class="btn btn-outline-info" data-toggle="modal" data-target="#BankAcctLog">Manage</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">New Transaction</h5>
            <a class="btn btn-outline-primary" data-toggle="modal" data-target="#Transactions">Create</a>
            @if (User.IsInRole(nameof(HouseholdRole.HEAD)))
            {
                <a class="btn btn-outline-warning" data-toggle="modal" data-target="#Transfers">Transfer Funds</a>
            }

        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">Transactions Log</h5>
            <a class="btn btn-outline-info" data-toggle="modal" data-target="#TransacRegister">Manage</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">Categories Log</h5>
            <a class="btn btn-outline-info" data-toggle="modal" data-target="#Categories">Manage</a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-text text-success">Category Items Log</h5>
            <a class="btn btn-outline-info" data-toggle="modal" data-target="#CategoryItems">Manage</a>
        </div>
    </div>
</div>


<!------------------------------>
<!-- Create Invitations Modal -->
<!------------------------------>
<div class="modal" id="Invitations">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">Create Invitation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <form asp-controller="HouseholdInvitations" asp-action="Create" class="ml-2 mr-2" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.Hidden("HouseholdId", Model.Household.Id)

                <div class="form-group">
                    <label class="control-label">Expires</label>
                    <input type="date" name="Expires" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email To</label>
                    <input name="EmailTo" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Subject</label>
                    <input name="Subject" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Body</label>
                    <input name="Body" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
            </form>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--------------------------->
<!-- Invitations Log Modal -->
<!--------------------------->
<div class="modal" id="ReviewInvitations">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header ml-2 mr-2">
                <h4 class="modal-title text-success">Invitations Log</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <table class="table m-b-0 table-hover">
                <thead class="thead-success">
                    <tr>
                        <th>Created</th>
                        <th>Expires</th>
                        <th>Accepted</th>
                        <th>IsValid</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var householdInvitation in Model.Household.Invitations)
                    {
                        <tr>
                            <td>
                                @householdInvitation.Created.ToString("MMM dd, yyyy")
                            </td>
                            <td>
                                @householdInvitation.Expires.ToString("MMM dd, yyyy")
                            </td>
                            <td>
                                @householdInvitation.Accepted
                            </td>
                            <td>
                                @householdInvitation.IsValid
                            </td>
                            <td>
                                @householdInvitation.EmailTo
                            </td>
                            <td>
                                <a class="btn btn-outline-success" asp-controller="HouseholdInvitations" asp-action="Edit" asp-route-id="@householdInvitation.Id">Edit</a>
                                <a class="btn btn-outline-success" asp-controller="HouseholdInvitations" asp-action="Details" asp-route-id="@householdInvitation.Id">Details</a>
                                <a class="btn btn-outline-danger" asp-controller="HouseholdInvitations" asp-action="Delete" asp-route-id="@householdInvitation.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-------------------------------->
<!-- Bank Account Details Modal -->
<!-------------------------------->
<div class="modal" id="BankAcctLog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title text-success">Manage Accounts</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table m-b-0 table-hover">
                    <thead class="thead-success">
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Current Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model.Household.BankAccounts)
                        {
                            <tr>
                                <td>
                                    @account.Name
                                </td>
                                <td>
                                    @account.AccountType
                                </td>
                                <td>
                                    $@account.CurrentBalance
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-controller="HouseholdBankAccounts" asp-action="Edit" asp-route-id="@account.Id">Edit</a>
                                    <a class="btn btn-outline-success" asp-controller="HouseholdBankAccounts" asp-action="Details" asp-route-id="@account.Id">Details</a>
                                    <a class="btn btn-outline-danger" asp-controller="HouseholdBankAccounts" asp-action="Delete" asp-route-id="@account.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!------------------------------>
<!-- Household Occupants Modal-->
<!------------------------------>
<div class="modal" id="Occupants">
    <div class="modal-dialog modal-dialog-left">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">House Members</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-success">
                            <tr>
                                <th>First Name</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Household.Occupants)
                            {
                                <tr>
                                    <td>@user.FirstName</td>
                                    <td>
                                        @UserManager.GetRolesAsync(user).Result.FirstOrDefault()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!------------------------------->
<!-- Create Transactions Modal -->
<!------------------------------->
<div class="modal fade" id="Transactions">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">New Transaction</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <form asp-controller="Transactions" asp-action="Create" class="ml-2 mr-2" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.Hidden("HouseholdId", Model.Household.Id)

                <div class="form-group">
                    <label class="control-label">Category Item</label>
                    <select name="CategoryItemId" asp-items="ViewBag.CategoryItemId" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Bank Account</label>
                    <select name="HouseholdBankAccountId" asp-items="ViewBag.HouseholdBankAccountId" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Type</label>
                    <select name="Type" class="form-control" asp-items="@Html.GetEnumSelectList<TransactionType>()"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Memo</label>
                    <input name="Memo" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input name="Amount" class="form-control" type="number" step="any" min="0.01" max="99999999.99" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
            </form>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-------------------------->
<!-- Transfer Funds Modal -->
<!-------------------------->
<div class="modal" id="Transfers">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Transfer Funds</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-controller="Transactions" asp-action="Create" class="ml-2 mr-2" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @Html.Hidden("HouseholdId", Model.Household.Id)
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select name="Type" class="form-control" asp-items="@Html.GetEnumSelectList<TransactionType>()"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">From Account</label>
                        <select id="originAccount" name="HouseholdBankAccountId" asp-items="ViewBag.HouseholdBankAccountId" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">To Account</label>
                        <select id="receivingAccout" name="HouseholdBankAccountId" asp-items="ViewBag.HouseholdBankAccountId" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Memo</label>
                        <input name="Memo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input name="Amount" class="form-control" type="number" step="any" min="0.01" max="99999999.99" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!---------------------------->
<!-- Transactions Log Modal -->
<!---------------------------->

<div class="modal" id="TransacRegister">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">Transactions Log</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table m-b-0 table-hover">
                    <thead class="thead-success">
                        <tr>
                            <th>Category Item</th>
                            <th>Bank Account</th>
                            <th>User Name</th>
                            <th>Created</th>
                            <th>Memo</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr>
                                <td>
                                    @transaction.CategoryItemId
                                </td>
                                <td>
                                    @transaction.HouseholdBankAccount.Name
                                </td>
                                <td>
                                    @transaction.FPUser.FirstName
                                </td>
                                <td>
                                    @transaction.Created.ToString("MMM dd, yyyy")
                                </td>
                                <td>
                                    @transaction.Memo
                                </td>
                                <td>
                                    $@transaction.Amount
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-controller="Transactions" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                                    <a class="btn btn-outline-success" asp-controller="Transactions" asp-action="Details" asp-route-id="@transaction.Id">Details</a>
                                    <a class="btn btn-outline-danger" asp-controller="Transactions" asp-action="Delete" asp-route-id="@transaction.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!----------------------------->
<!-- Manage Categories Modal -->
<!----------------------------->

<div class="modal" id="Categories">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">Categories Log</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table m-b-0 table-hover">
                    <thead class="thead-success">
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Budget Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var householdCategory in Model.HouseholdCategories)
                        {
                            <tr>
                                <td>
                                    @householdCategory.Name
                                </td>
                                <td>
                                    @householdCategory.Description
                                </td>
                                <td>
                                    $@householdCategory.TargetAmount
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-controller="HouseholdCategories" asp-action="Edit" asp-route-id="@householdCategory.Id">Edit</a>
                                    <a class="btn btn-outline-success" asp-controller="HouseholdCategories" asp-action="Details" asp-route-id="@householdCategory.Id">Details</a>
                                    <a class="btn btn-outline-danger" asp-controller="HouseholdCategories" asp-action="Delete" asp-route-id="@householdCategory.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--------------------------------->
<!-- Manage Category Items Modal -->
<!--------------------------------->

<div class="modal" id="CategoryItems">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-success">Category Items Log</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table m-b-0 table-hover">
                    <thead class="thead-success">
                        <tr>
                            <th>Category Item</th>
                            <th>Description</th>
                            <th>Budget Amount</th>
                            <th>Actual Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoryItem in Model.CategoryItems)
                        {
                            <tr>
                                <td>
                                    @categoryItem.Name
                                </td>
                                <td>
                                    @categoryItem.Description
                                </td>
                                <td>
                                    $@categoryItem.TargetAmount
                                </td>
                                <td>
                                    $@categoryItem.ActualAmount
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-controller="CategoryItems" asp-action="Edit" asp-route-id="@categoryItem.Id">Edit</a>
                                    <a class="btn btn-outline-success" asp-controller="CategoryItems" asp-action="Details" asp-route-id="@categoryItem.Id">Details</a>
                                    <a class="btn btn-outline-danger" asp-controller="CategoryItems" asp-action="Delete" asp-route-id="@categoryItem.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!------------------------>
<!-- Charts Start Here -->
<!------------------------>

@await Html.PartialAsync("_InvitationPartial", Model.HouseholdInvitation)


@section Scripts {

    <script>
        $("#findme").on("click", (el) => { console.log(el.target) })
    </script>

    <script>
        //Step 1 - Construct the URL needed to request the data
        var Url1 = '@Url.Action("CurrentBalanceChart", "Charts")'; // represent the endpoint
        var Url2 = '@Url.Action("TransactionChart", "Charts")'; // represent the endpoint

        //Step 2 - start the structure for our AJAX call
        $.post(Url1).then(function (response) {
           // console.log(response)
            let labelsarray = [];
            let seriesarray = [];
            response.forEach((el) => {
                labelsarray.push(el.labels);
                seriesarray.push(el.values);
            });
            var options = {
                labelInterpolationFnc: function (value) {
                    return value[0]
                }
            };
            var responsiveOptions = [
                ['screen and (min-width: 640px)', {
                    chartPadding: 20,
                    labelOffset: 50,
                    labelDirection: 'explode',
                    labelInterpolationFnc: function (value, i) {
                        return "$" + seriesarray[i] + ' ' + value;
                    }
                }],
                ['screen and (min-width: 1024px)', {
                    labelOffset: 40,
                    chartPadding: 20
                }]
            ]; var data = {
                labels: labelsarray,
                series: seriesarray
            };
            console.log(labelsarray, seriesarray);
            Chartist.Pie('#CurrentBalanceChart', data,options, responsiveOptions);
        });

            $.post(Url2).then(function (response) {
                // console.log(response)
                let labelsarray = [];
                let seriesarray = [];
                response.forEach((el) => {
                    labelsarray.push(el.labels);
                    seriesarray.push(el.values);

                });
                var options = {
                    labelInterpolationFnc: function (value) {
                        return value[0]
                    }
                };
                var responsiveOptions = [
                    ['screen and (min-width: 640px)', {
                        chartPadding: 20,
                        labelOffset: 50,
                        labelDirection: 'explode',
                        labelInterpolationFnc: function (value, i) {
                            return "$" + seriesarray[i] + ' ' + value;
                        }
                    }],
                    ['screen and (min-width: 1024px)', {
                        labelOffset: 40,
                        chartPadding: 20
                    }]
                ]; var data = {
                    labels: labelsarray,
                    series: seriesarray
                };
                console.log(labelsarray, seriesarray);
                Chartist.Pie('#TransactionChart', data, options, responsiveOptions);
            });

            // Chart to Compare Planned vs Actual Spending

    </script>

}
