@using Microsoft.AspNetCore.Identity
@using FinancePortal.Services
@using FinancePortal.Data

@inject IImageService ImageService
@inject UserManager<FPUser> UserManager

@model FinancePortal.Models.View_Models.HouseholdViewModel

@{
    ViewData["Title"] = "Welcome to Your Dashboard";

}

<div class="d-flex justify-content-between mb-2">
    <h1 class="text-success">@ViewData["Title"]</h1>

    @if (User.IsInRole(nameof(HouseholdRole.HEAD)))
    {
        <a asp-controller="HouseholdInvitations" asp-action="Create" asp-route-id="@Model.Household.Id" type="button" class="btn btn-outline-danger">Invite</a>
    }
</div>

@if (TempData["Message"] != null)
{
    <h1 class="text-danger">@TempData["Message"]</h1>
}



<div class="container-fluid">
    <div class="container-fluid">
        <img src="~/images/Finance-1.jpg" style="width:100%; height:350px" />
    </div>
    <br />
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="card-580792">
                    <div class="card">
                        <div class="card-header bg-info text-light">
                            <div id="Account-members-btn" class="btn btn-outline-light" data-toggle="collapse" data-parent="#card-580792" href="#card-element-707760">Household Members</div>
                        </div>
                        <div id="card-element-707760" class="collapse show">
                            <div class="card-body">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model.Household.Occupants)
                                        {
                                            <tr>
                                                <td>@user.FirstName</td>
                                                <td>
                                                    @UserManager.GetRolesAsync(user).Result.FirstOrDefault()
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <h6 class="card-header bg-warning text-light">
                    Current Balance
                </h6>
                <div class="card-body">
                    <div height="400" id="currentBalanceChart">

                    </div>
                </div>
                <div class="footer bg-transparent">

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h6 class="card-header bg-warning text-light">
                    Recent Transactions
                </h6>
                <div class="card-body">
                    <div height="400" id="TransactionChart">

                    </div>
                </div>
                <div class="footer bg-transparent">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info">
                    <div id="Bank-account-btn" class="btn btn-outline-light" area-expanded="false" data-toggle="collapse" data-target="#BankAccounts">Bank Accounts</div>
                </div>
                <div class="card-body collapse" id="BankAccounts">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-green">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Current Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model.Household.BankAccounts)
                            {
                                <tr>
                                    <td>
                                        @account.Name
                                    </td>
                                    <td>
                                        @account.AccountType
                                    </td>
                                    <td>
                                        @account.CurrentBalance
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info" asp-controller="HouseholdBankAccounts" asp-action="Edit" asp-route-id="@account.Id">Edit</a>
                                        <a class="btn btn-outline-info" asp-controller="HouseholdBankAccounts" asp-action="Details" asp-route-id="@account.Id">Details</a>
                                        <a class="btn btn-outline-danger" asp-controller="HouseholdBankAccounts" asp-action="Delete" asp-route-id="@account.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="card-345678">
                <div class="card">
                    <div class="card-header bg-info">
                        <div id="Categories" class="btn btn-outline-light" data-toggle="collapse" data-parent="#card-345678" href="#card-element-456789">Categories</div>
                    </div>
                    <div id="card-element-456789" class="collapse show">
                        <div class="card-body">
                            <table class="table m-b-0 table-hover">
                                <thead class="thead-green">
                                    <tr>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var householdCategory in Model.HouseholdCategories)
                                    {
                                        <tr>
                                            <td>
                                                @householdCategory.Description
                                            </td>
                                            <td>
                                                @householdCategory.TargetAmount
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-info" asp-controller="HouseholdCategories" asp-action="Edit" asp-route-id="@householdCategory.Id">Edit</a>
                                                <a class="btn btn-outline-info" asp-controller="HouseholdCategories" asp-action="Details" asp-route-id="@householdCategory.Id">Details</a>
                                                <a class="btn btn-outline-danger" asp-controller="HouseholdCategories" asp-action="Delete" asp-route-id="@householdCategory.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="card-567890">
                            <div class="card">
                                <div class="card-header bg-info">
                                    <div id="CategoryItems" class="btn btn-outline-light" data-toggle="collapse" data-parent="#card-567890" href="#card-element-678901">Category Items</div>
                                </div>
                                <div id="card-element-678901" class="collapse">
                                    <div class="card-body">
                                        <table class="table m-b-0 table-hover">
                                            <thead class="thead-green">
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Description</th>
                                                    <th>Target Amount</th>
                                                    <th>Actual Amount</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var categoryItem in Model.CategoryItems)
                                                {
                                                    <tr>
                                                        <td>
                                                            @categoryItem.Name
                                                        </td>
                                                        <td>
                                                            @categoryItem.Description
                                                        </td>
                                                        <td>
                                                            @categoryItem.TargetAmount
                                                        </td>
                                                        <td>
                                                            @categoryItem.ActualAmount
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-outline-info" asp-controller="CategoryItems" asp-action="Edit" asp-route-id="@categoryItem.Id">Edit</a>
                                                            <a class="btn btn-outline-info" asp-controller="CategoryItems" asp-action="Details" asp-route-id="@categoryItem.Id">Details</a>
                                                            <a class="btn btn-outline-danger" asp-controller="CategoryItems" asp-action="Delete" asp-route-id="@categoryItem.Id">Delete</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>




<!------------------------>
<!-- Charts Start Here -->
<!------------------------>


@await Html.PartialAsync("_InvitationPartial", Model.HouseholdInvitation)


@section Scripts {

    <script>
        $("#findme").on("click", (el) => { console.log(el.target) })
    </script>

    <script>
        //Step 1 - Construct the URL needed to request the data
        var Url1 = '@Url.Action("CurrentBalanceChart", "Charts")'; // represent the endpoint
        var Url2 = '@Url.Action("TransactionChart", "Charts")'; // represent the endpoint

        //Step 2 - start the structure for our AJAX call
        $.post(Url1).then(function (response) {
           // console.log(response)
            let labelsarray = [];
            let seriesarray = [];
            response.forEach((el) => {
                labelsarray.push(el.labels);
                seriesarray.push(el.values);
            });
            var options = {
                labelInterpolationFnc: function (value) {
                    return value[0]
                }
            };
            var responsiveOptions = [
                ['screen and (min-width: 640px)', {
                    chartPadding: 20,
                    labelOffset: 50,
                    labelDirection: 'explode',
                    labelInterpolationFnc: function (value, i) {
                        return seriesarray[i] + ' ' + value;
                    }
                }],
                ['screen and (min-width: 1024px)', {
                    labelOffset: 40,
                    chartPadding: 20
                }]
            ]; var data = {
                labels: labelsarray,
                series: seriesarray
            };
            console.log(labelsarray, seriesarray);
            Chartist.Pie('#currentBalanceChart', data,options, responsiveOptions);
        });
            $.post(Url2).then(function (response) {
                // console.log(response)
                let labelsarray = [];
                let seriesarray = [];
                response.forEach((el) => {
                    labelsarray.push(el.labels);
                    seriesarray.push(el.values);

                });
                var options = {
                    labelInterpolationFnc: function (value) {
                        return value[0]
                    }
                };
                var responsiveOptions = [
                    ['screen and (min-width: 640px)', {
                        chartPadding: 20,
                        labelOffset: 50,
                        labelDirection: 'explode',
                        labelInterpolationFnc: function (value, i) {
                            return seriesarray[i] + ' ' + value;
                        }
                    }],
                    ['screen and (min-width: 1024px)', {
                        labelOffset: 40,
                        chartPadding: 20
                    }]
                ]; var data = {
                    labels: labelsarray,
                    series: seriesarray
                };
                console.log(labelsarray, seriesarray);
                Chartist.Pie('#TransactionChart', data, options, responsiveOptions);
            });


    </script>

}
