@model FinancePortal.Models.HouseholdNotification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Household Notification</h4>
    <hr />
    <div class="card">
        <dl class="row">
            <dt class="col-sm-3">
                Created
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-3">
                Subject
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-3">
                Body
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Body)
            </dd>
            <dt class="col-sm-3">
                Is Read
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsRead)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a asp-controller="Households" asp-action="Dashboard">Back to List</a>
</div>
