@model FinancePortal.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   
    <hr />

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-success">Transaction</h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Category Item
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CategoryItemId)
                        </dd>
                        <dt class="col-sm-3">
                            Bank Account
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.HouseholdBankAccountId)
                        </dd>
                        <dt class="col-sm-3">
                            User
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FPUserId)
                        </dd>
                        <dt class="col-sm-3">
                            Created
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Created)
                        </dd>
                        <dt class="col-sm-3">
                            Memo
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Memo)
                        </dd>
                        <dt class="col-sm-3">
                            Amount
                        </dt>
                        <dd class="col-sm-9">
                            $@Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt class="col-sm-3">
                            Deleted
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.IsDeleted)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-outline-primary" asp-controller="Households" asp-action="Dashboard">Back to List</a>
</div>
