@using FinancePortal.Data

@model IEnumerable<FinancePortal.Models.Transaction>

@inject ApplicationDbContext context

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-success">New Transactions</h4>
                <table class="table m-b-0 table-hover">
                    <thead class="thead-green">
                        <tr>
                            <th>Category Item</th>
                            <th>Bank Account</th>
                            <th>User Name</th>
                            <th>Created</th>
                            <th>Memo</th>
                            <th>Amount</th>
                            <th>Is Deleted</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryItemId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HouseholdBankAccountId)
                                </td>
                                <td>
                                    @context.Users.Find(item.FPUserId).FullName
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Memo)
                                </td>
                                <td>
                                    $@Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<a class="btn btn-outline-primary" asp-controller="Households" asp-action="Dashboard">Back to Dashboard</a>


