@using FinancePortal.Data

@inject ApplicationDbContext context

@model IEnumerable<FinancePortal.Models.HouseholdBankAccount>


@{
    ViewData["Title"] = "Index";

}

<h1>Bank Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card">
    <table class="table m-b-0 table-hover">
        <thead class="thead-green">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FPUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartingBalance)
                </th>
                <th>

                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @context.Users.Find(item.FPUserId).FullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingBalance)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a class="btn btn-primary" asp-controller="Households" asp-action="Dashboard">Back to Dashboard</a>